<!doctype html>
<!-- A minimal HTML5 skeleton -->
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <link href="css/2ImageTemplate.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/2ImageTemplateGrid.css" rel="stylesheet" type="text/css" media="screen">
  <script src="js/mockup.js"></script>
</head>
<div class="grid-container">
    <body>
        
      <header>
    HEADER
      </header>

      <nav>
          NAVIGATION
      </nav>

      <main>
          MAIN
      </main>

      <aside>
          ASIDE
      </aside>
      <img src="/images/Oopsnowork" alt="oops no img" id="image1">
        
        <p id='paragraph1'>
           Paragraph
        </p>
        
      <img src="/images/Hahanowork" alt="oops no img" id="image2">
    
        <p id='paragraph2'>
            Paragraph
        </p>
        
    </body>
</div>
    
    <footer>
        FOOTER
    </footer>
</html>