<!doctype html>
<!-- A minimal HTML5 skeleton -->
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <link href="css/overall.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplate.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplateGrid.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

  <header>
    <iframe src="/topHeader"></iframe>
  </header>
  <h2>Allied Side</h2>
  <div class="grid-container">

    <nav>
      NAVIGATION
    </nav>

    <main>
      <button type="button" onclick="window.top.location.href='/lanes'">Next: Lanes</button>
    </main>

    <aside>
      ASIDE
    </aside>
    <img src="/images/Blue_Base.png" alt="oops no img" id="image1">

    <p id='paragraph1'>
      This is your base, it where you spawn in and its your job to protect.
    </p>

    <img src="/images/Blue_Nexus.webp" alt="oops no img" id="image2">

    <p id='paragraph2'>
      This is your nexus, if it breaks you lose.
    </p>

    <img src="/images/Blue_Inhibitor.webp" alt="oops no img" id="image3">

    <p id='paragraph3'>
      This is your Inhibitor, it is protected by 3 layers of turrets, if this breaks your enemies will spawn super
      minions for 5 minutes.
    </p>

    <img src="/images/Red_Superminion.webp" alt="oops no img" id="image4">

    <p id='paragraph4'>
      This is a minion, they spawn every 30 seconds, we will cover them more in the lanes section.
    </p>

</body>
</div>

<footer>
  FOOTER
</footer>

</html>