<!doctype html>
<!-- A minimal HTML5 skeleton -->
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <link href="css/overall.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplate.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplateGrid.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

  <header>
    <iframe src="/topHeader"></iframe>
  </header>
  <h2>Jungle</h2>
  <div class="grid-container">

    <nav>
      NAVIGATION
    </nav>

    <main>
      <button type="button" onclick="window.top.location.href='/river'">Next: River</button>
    </main>

    <aside>
      ASIDE
    </aside>
    <img src="/images/Jungle_Map.jpg" alt="oops no img" id="image1">
    <p id='paragraph1'>
      As there are 5 people per team, and only 4 go into lanes . That leaves 1 person left over in the jungle.
    </p>

    <img src="/images/Red_Buff.jpg" alt="oops no img" id="image2">

    <p id='paragraph2'>
      Its the junglers job to kill monsters in the jungle for gold instead of minions, they also control the buffs like
      red buff here.
    </p>

    <img src="/images/Blue_Buff.webp" alt="oops no img" id="image3">

    <p id='paragraph3'>
      Thats not the only thing they do, they also "Gank" the lanes when they are not taking monster, this means they go
      into the lane and attempt to 2v1 the enemy and kill them.
    </p>

    <img src="/images/River_Dragon.webp" alt="oops no img" id="image4">

    <p id='paragraph4'>
      Also its the junglers job to try and kill the dragon, often they need their team. So when they dont have their
      team its their job to keep it warded until bot lane is available.
    </p>

</body>
</div>

<footer>
  FOOTER
</footer>

</html>