<!doctype html>
<!-- A minimal HTML5 skeleton -->
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <link href="css/overall.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplate.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplateGrid.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

  <header>
    <iframe src="/topHeader"></iframe>
  </header>
  <h2>Lanes</h2>
  <div class="grid-container">
    <nav>
      NAVIGATION
    </nav>

    <main>
      <button type="button" onclick="window.top.location.href='/jungle'">Next: Jungle</button>
    </main>

    <aside>
      ASIDE
    </aside>
    <img src="/images/Lanes.jpg" alt="oops no img" id="image1">

    <p id='paragraph1'>
      There are 3 lanes in league of legends as show on the map, ill get more indepth in the individual lane slides but
      for now heres an overview of each
    </p>

    <img src="/images/Sion.webp" alt="oops no img" id="image2">

    <p id='paragraph2'>
      Often called an island, top lane is fairly isolated as its away from the dragon, you put your tanks and fighters
      here cause they are best in solo 1v1's
    </p>

    <img src="/images/Malzahar.jpg" alt="oops no img" id="image3">

    <p id='paragraph3'>
      Located in the middle of the map, mid lane has the power to swing games. You put mobile assassins or long range
      mages in the mid lane in order to ensure you have influence around mid as so much is going on around it.
    </p>

    <img src="/images/Birds.jpg" alt="oops no img" id="image4">

    <p id='paragraph4'>
      The most crowded lane in league, bot lane is a duo consisting of an attack damage carry (adc) and a support. The
      adc needs a long time to become powerful so the support has to baby them until they come online. This will be the
      lane that influences how many dragons you get most of the time
    </p>

</body>
</div>

<footer>
  FOOTER
</footer>

</html>