<!doctype html>
<!-- A minimal HTML5 skeleton -->
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <link href="css/overall.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplate.css" rel="stylesheet" type="text/css" media="screen">
  <link href="css/4ImageTemplateGrid.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>

  <header>
    <iframe src="/topHeader"></iframe>
  </header>
  <h2>River</h2>
  <div class="grid-container">

    <nav>
      NAVIGATION
    </nav>

    <main>
      <button type="button" onclick="window.top.location.href='/tour'">Home</button>
    </main>

    <aside>
      ASIDE
    </aside>
    <img src="/images/Scuttle_Buff.png" alt="oops no img" id="image1">

    <p id='paragraph1'>
      The river is an extension of the jungle connecting the two halves of the map, it is essential you control this
      portion to prevent the enemy from sneaking into you jungle and taking your monsters, this is why we have rift
      scuttlers. When they die they spawn a circle that gives important vision
    </p>

    <img src="/images/Rift_Herald.webp" alt="oops no img" id="image2">

    <p id='paragraph2'>
      Also in the baron pit, before the baron spawns a rift herald spawns, this is a important buff but is often less
      valuable then something like dragon because it only gives a temproary reward.
    </p>

    <img src="/images/Rift_Scuttler_Render.webp" alt="oops no img" id="image3">

    <p id='paragraph3'>
      I give vision when I die
    </p>

    <img src="/images/River_Dragon.webp" alt="oops no img" id="image4">

    <p id='paragraph4'>
      This is the dragon, there are 4 types of dragons wind, fire, water, and earth. They give a perment buff each time
      you slay them.
    </p>

</body>
</div>

<footer>
  FOOTER
</footer>

</html>